.warning-icon {
    font-size: 1.75rem;
    color: orange;
    margin-top: 4px;
}


span.billable-badge.status-not{
    background: rgb(14, 167, 167);
    color: white;
}
span.billable-badge.status-billable{
    background: rgb(14 62 159);
    color: white;
}
.isBillable-section{
    margin: auto auto;
}
.billable-badge {
    border-radius: var(--border-radius);
    padding: 0.25em 0.5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.3px;
}

.is-modified{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;
    border: 1px dotted #c8392e;
    border-radius: 5px;
    padding: 0.5rem;
}

.is-modified-span{

    font-size: 1.2rem!important;
    color: #c8392e;
    font-style: italic;
    font-weight: bold;
}