span.customer-badge.status-accepted {
    background: #5bd454;
    color: white;
}
span.customer-badge.status-pre-sale{
    background: #aaa;
    color: white;

}
.title {
    color: #c9392f;
    padding-bottom: .5rem;
    font-weight: 700;
    font-size: x-large;
    display:flex;
    justify-content: start;
    border-bottom: 2px solid #c9392f;
}

.btn-container-add-project{
    display: flex;
    justify-content: end;
}
.flex-dropdown-selectbutton{
    display: flex;
    justify-content: space-between;
}

.p-button.p-button-text {
    background-color: transparent;
    color: #c8392e;
    border-color: transparent;
}

button.p-button.p-component.p-button-add {
    background-color: #4dc261!important;
    border: white;
}
.p-dropdown:not(.p-disabled):hover {
    border-color: #bc0000;
}