.p-breadcrumb{
    border: none;
    margin-left:0.4rem;
}

.p-breadcrumb ul li:last-child .p-menuitem-text {
    color: #082a4c;
    font-weight: 700;
}

.value-client{
    font-weight: 700;
}

.title-span{
    font-size: 14px;
}
.p-panel .p-panel-header .p-panel-title{
    font-size: 14px;
}

.value-client-email{
    font-weight: 700;
    color: #082a4c;
    text-decoration: underline;
}
.accepted-checkbox{
    display: flex;
    justify-content: center;
}
.value-client-email:hover{
    font-weight: 700;
    color: rgb(184, 76, 76);
}

.p-breadcrumb ul{
    font-size: 12px;
}
.projects-link {
    font-size: 13px;
    display:flex;
    justify-content: flex-end;
    color:rgb(184, 76, 76);
}

.projects-link-span:hover{
    color: #082a4c;
}
.projects-link-icon:hover{
    color: #082a4c;
}
.p-panel .p-panel-header .p-panel-title{
    color: var(--main-color);
}
.last-col{
    display: flex;
    justify-content:flex- end;
}