.button-submit-position{
    margin-left: 75%!important;
    
}
.p-fieldset-legend	{
    background-color: #c9392f!important;
    color: white!important;
}
.p-fieldset.p-fieldset-toggleable .p-fieldset-legend a{
    padding: 0.5rem;
    color: white!important;
    
}
fieldset.p-fieldset.p-component {
    border-color: #c9392f!important;
}
.p-fieldset-legend>a, .p-fieldset-legend>span {
    margin: 0%;
}
.p-fieldset .p-fieldset-legend{
    margin-left: 2%;
    padding: 1rem;
}
button.p-inputnumber-button.p-inputnumber-button-up.p-button.p-button-icon-only.p-component{
    background-color: #c9392f!important;
    border-color: #ededed!important;
}
button.p-inputnumber-button.p-inputnumber-button-down.p-button.p-button-icon-only.p-component{
    background-color: #c9392f!important;
    border-color: #ededed!important;
}

.p-inputgroup-addon{
    background-color: #c9392f;
    color: white!important;
}
button.p-button.p-button-success, .p-buttonset.p-button-success > .p-button, .p-splitbutton.p-button-success > .p-button, .p-fileupload-choose.p-button-success{
    background-color: #4dc261!important;
}

.btn-container-flex{
    display: flex;
}

.grid .button-demo-flex{
    justify-content: space-between;
}
.grid.button-demo-flex.mx-1 {
    display: flex;
    justify-content: space-between;
}

.p-panel-titlebar{
    font-size: 20px;
}
.p-panel.p-panel-toggleable .p-panel-header {
    padding: 1rem 1.25rem;
}
.p-inputtext:enabled:hover {
    border-color: #bc0000;
}