.login{
    width: 20rem;
    margin: 10rem auto;
}
.p-button{
    background-color: var(--main-color);
    border: var(--main-color);
}

button.p-button.p-component.login-button:hover{
    border: 1px solid var(--main-color);
}