
.home {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 10rem;
  margin-top: 2rem;
  
  
  .card-container {
    flex: 1 1 25%;
    margin: 1rem ;
    font-size: 15px;
    font-weight: bold;
  }
}

