.home_btn {
    width: 338px;
    margin: 15px;
    height: 200px;
    background-color: #de2517;
    color: rgb(255, 255, 255);
    line-height: 180px;
    border-radius: 25px;
    border-color: #de2517;
    border-width: 2px;
}

.home_btn p {
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
    font-weight: bold;
    color: #ffffff;
    
}


.home_btn a {
    background-color: #ffffff;
    color: rgb(75, 28, 28);
}
.home_btn:hover {
    color: rgb(255, 255, 255);
    background-color: #ffffff;
    border-color: #de2517!important;
}

.home_btn:hover p svg, .home_btn:hover p {
    color: #de2517!important;
    border-color: #de2517!important;
    border-width: 2px;
}

