.layout-main {
    background-color: white;
}
.layout-main-container{
    background-color: white;
}
.layout-wrapper layout-static layout-theme-light{
    background-color: white;
}
.layout-theme-light{
    background-color: rgb(255, 255, 255)!important;
}
.pi-home, .pi-id-card, .pi-table, .pi-bars{
    font-size: 1.7rem;
}
.layout-topbar .layout-topbar-button i{
    font-size: 2rem!important;
    color:#c9392f!important
}
.layout-menu li.layout-menuitem-category:first-child{
    font-size: 1.7rem;
    
}
.layout-menu li a.router-link-exact-active{
    color:rgb(255, 255, 255)!important;
    background-color: #494848!important;
}
.layout-menu li a{
    color:rgb(189 28 28)!important;
    font-weight: 600;
}
span.pi.pi-filter-icon.pi-filter{
    color: #cca1a1;
}
.p-datatable .p-sortable-column .p-sortable-column-icon{
    color:#eee7dc
}
a.navbar__link{
    color:#f55a3f!important;
}

.p-tabview .p-tabview-nav .p-tabview-ink-bar{
    background-color: #cc1219;
}
.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link{
    background-color: #ffffff;
    color: #cc1219;
    border-color: #cc1219;
}

.p-button:disabled{
    color: black;
    background-color: grey;
    border-color: #494848;
}

.p-datatable .p-datatable-tbody > tr.p-highlight{
    background-color: #dad1d1;
    color: black;
}

.p-datatable.p-datatable-selectable .p-datatable-tbody > tr.p-selectable-row:focus{
    outline: #494848;
}