.layout-main {
    background-color: white;
}
.layout-main-container{
    background-color: white;
}
.layout-wrapper layout-static layout-theme-light{
    background-color: white;
}
.layout-theme-light{
    background-color: rgb(255, 255, 255)!important;
}
.layout-menu li a .pi-home,.layout-menu li a .pi-book, .layout-menu li a .pi-id-card, .layout-menu li a .pi-table, .layout-menu li a .pi-bars{
    font-size: 1.7rem;
}
.layout-topbar .layout-topbar-button i{
    font-size: 2rem!important;
    color:#c9392f!important
}
.pi-sort-amount-up-alt:before, .pi-sort-amount-down:before{
    color:#c9392f!important
}
.p-datatable .p-sortable-column.p-highlight{
    background-color: #ffeeee!important;
}
.layout-menu li.layout-menuitem-category:first-child{
    font-size: 1.7rem;
    
}
.p-selectbutton .p-button.p-highlight {
    background: #c8392e;
    border-color: #c8392e;
    color: #ffffff;
}
.p-selectbutton .p-button.p-highlight:hover {
    background: #c8392e;
    border-color: #c8392e;
    color: #ffffff;
}
.p-inputgroup-addon {
    background-color: #ffffff;
    color: #c9392f!important;

}
td{
    font-size: 12px;
}
.p-panel .p-panel-header .p-panel-title{
    color: #bc0000;
}
.p-button.p-button-secondary, .p-buttonset.p-button-secondary > .p-button, .p-splitbutton.p-button-secondary > .p-button, .p-fileupload-choose.p-button-secondary {
    color: #bc0000;
    background: #ffffff;
    border: 1px solid #a00000;
}
.p-button-secondary-project{
    color: #ffff;
    background: #bc0000;
    border: 1px solid #a00000;

}

.p-button-secondary-project:enabled:hover{
    color: #bc0000;
    background: #ffffff;
    border: 1px solid #a00000;

}
.p-button.p-button-secondary:enabled:hover, .p-button.p-button-secondary:not(button):not(a):not(.p-disabled):hover, .p-buttonset.p-button-secondary > .p-button:enabled:hover, .p-buttonset.p-button-secondary > .p-button:not(button):not(a):not(.p-disabled):hover, .p-splitbutton.p-button-secondary > .p-button:enabled:hover, .p-splitbutton.p-button-secondary > .p-button:not(button):not(a):not(.p-disabled):hover, .p-fileupload-choose.p-button-secondary:enabled:hover, .p-fileupload-choose.p-button-secondary:not(button):not(a):not(.p-disabled):hover{
    color: #ffff;
    background: #bc0000;
    border: 1px solid #a00000;
}
.layout-menu li a.router-link-exact-active{
    color:rgb(255, 255, 255)!important;
    background-color: #c9392f!important;
}
.layout-menu li a{
    color:rgb(189 28 28)!important;
    font-weight: 600;
}
span.pi.pi-filter-icon.pi-filter{
    color: #c9392f;
}
.p-datatable .p-sortable-column .p-sortable-column-icon{
    color: #c9392f;
}
a.navbar__link{
    color:#f55a3f!important;
}

.p-tabview .p-tabview-nav .p-tabview-ink-bar{
    background-color: #cc1219;
}
.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link{
    background-color: #ffffff;
    color: #cc1219;
    border-color: #cc1219;
}

.p-button:disabled{
    color: black;
    background-color: grey;
    border-color: #494848;
}

.p-datatable .p-datatable-tbody > tr.p-highlight {
    background-color: #b8151a54;
    color: rgb(0 0 0);
    font-weight: 500;
}

.p-datatable.p-datatable-selectable .p-datatable-tbody > tr.p-selectable-row:focus{
    outline: #494848;
}