.my-table{
    * {
        max-height: 50rem!important;
    }
}

.svg{
    color: #b60202!important;
    font-weight: bold;
    text-decoration: none;
    //cursor:url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="14" height="14" preserveAspectRatio="xMidYMid meet" viewBox="0 0 8 8"%3E%3Cpath fill="%230b4191" d="M.75 0C.34 0 0 .34 0 .75v5.5c0 .41.34.75.75.75h4.5c.41 0 .75-.34.75-.75V5H5v1H1V1h2V0H.75zM6 0v1C3.95 1 2.3 2.54 2.06 4.53C2.27 3.65 3.05 3 4 3h2v1l2-2l-2-2z"%2F%3E%3C%2Fsvg%3E'), auto;
}